/* Eric Meyer's Reset Reloaded */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Declarations for Light, Medium, and Bold variants of the Helvetica Neue font */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLTStd-Md.otf"); }
@font-face {
  font-family: "Helvetica Neue Lt";
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf"); }
@font-face {
  font-family: "Helvetica Neue Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.otf"); }
@font-face {
  font-family: "VictoryNeue-Oblique";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/VictoryNeue-Oblique?#iefix") format("embedded-opentype"), url("../fonts/VictoryNeue-Oblique.woff") format("woff"), url("../fonts/VictoryNeue-Oblique.ttf") format("truetype"), url("../fonts/VictoryNeue-Oblique.svg#VictoryNeue-Oblique") format("svg"); }
@font-face {
  font-family: "VictoryNeueLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/VictoryNeueLight?#iefix") format("embedded-opentype"), url("../fonts/VictoryNeueLight.woff") format("woff"), url("../fonts/VictoryNeueLight.ttf") format("truetype"), url("../fonts/VictoryNeueLight.svg#VictoryNeueLight") format("svg"); }
@font-face {
  font-family: "AbrazoScriptSSiNormal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AbrazoScriptSSiNormal?#iefix") format("embedded-opentype"), url("../fonts/AbrazoScriptSSiNormal.woff") format("woff"), url("../fonts/AbrazoScriptSSiNormal.ttf") format("truetype"), url("../fonts/AbrazoScriptSSiNormal.svg#AbrazoScriptSSiNormal") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Defaults */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img, .google-maps img {
  max-width: none; }

textarea {
  height: auto;
  min-height: 150px;
  resize: vertical; }

select {
  width: 100%; }

/* Blockquotes */
blockquote {
  color: #6f6f6f;
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd; }
  blockquote p {
    line-height: 1.6;
    color: #6f6f6f; }
  blockquote cite {
    display: block;
    font-size: 0.8125em;
    color: #555555; }
  blockquote cite:before {
    content: "\2014 \0020"; }
  blockquote cite a, blockquote blockquote cite a:visited {
    color: #555555; }

body {
  background: #EEE;
  color: #4d4d4d;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
  position: relative; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.display-block {
  display: block; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.invisible {
  visibility: hidden; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.top-left {
  position: absolute;
  top: 0;
  left: 0; }

.top-right {
  position: absolute;
  top: 0;
  right: 0; }

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0; }

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0; }

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px; }

ul.square {
  list-style-type: square; }
  ul.square li {
    font-size: small;
    margin: 1em 0; }
  ul.square li:last-child {
    margin-bottom: 2em; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* Inline Lists */
.inline-list {
  margin: 0 auto;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375em;
    display: block; }
    .inline-list > li > * {
      display: block; }

/* Text Styles */
em,
i {
  font-family: "Helvetica Neue Lt", "Helvetica Light", Helvetica, Arial, sans-serif;
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-family: "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c; }

abbr,
acronym {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

abbr {
  text-transform: none; }

.font-bold {
  font-family: "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  font-weight: normal; }

.font-light {
  font-family: "Helvetica Neue Lt", "Helvetica Light", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

a {
  color: #0088cc;
  text-decoration: none; }

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline; }

.muted {
  color: #999999; }

a.muted:hover,
a.muted:focus {
  color: gray; }

.text-warning {
  color: #c09853; }

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c; }

.text-error {
  color: #b94a48; }

a.text-error:hover,
a.text-error:focus {
  color: #953b39; }

.text-info {
  color: #3a87ad; }

a.text-info:hover,
a.text-info:focus {
  color: #2d6987; }

.text-success {
  color: #468847; }

a.text-success:hover,
a.text-success:focus {
  color: #356635; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.25em;
  line-height: 1.2125em; }

h1 {
  font-size: 3.25em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.65em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  font-weight: normal;
  line-height: 1;
  color: #999999; }

h1 small {
  font-size: 24px; }

h2 small {
  font-size: 18px; }

h3 small {
  font-size: 16px; }

h4 small {
  font-size: 14px; }

h5 small {
  font-size: 12px; }

h6 small {
  font-size: 10px; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility; }
  p aside {
    font-family: "Helvetica Neue Lt", "Helvetica Light", Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    line-height: 1.35;
    font-style: italic; }

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Lists */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }

ul.square {
  list-style-type: square; }

ul.circle {
  list-style-type: circle; }

ul.disc {
  list-style-type: disc; }

ul.no-bullet {
  list-style: none; }

/* Label Styles */
label {
  font-family: "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  font-size: 0.875em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.1875em; }
  label .right {
    float: none;
    text-align: right; }
  label .inline {
    margin: 0 0 1em 0;
    padding: 0.625em 0; }

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em; }

/* Static Grid Styles */
.static-container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }

.static-container:before,
.static-container:after {
  display: table;
  line-height: 0;
  content: ""; }

.static-container:after {
  clear: both; }

.span12 {
  width: 940px; }

.span11 {
  width: 860px; }

.span10 {
  width: 780px; }

.span9 {
  width: 700px; }

.span8 {
  width: 620px; }

.span7 {
  width: 540px; }

.span6 {
  width: 460px; }

.span5 {
  width: 380px; }

.span4 {
  width: 300px; }

.span3 {
  width: 220px; }

.span2 {
  width: 140px; }

.span1 {
  width: 60px; }

.offset12 {
  margin-left: 980px; }

.offset11 {
  margin-left: 900px; }

.offset10 {
  margin-left: 820px; }

.offset9 {
  margin-left: 740px; }

.offset8 {
  margin-left: 660px; }

.offset7 {
  margin-left: 580px; }

.offset6 {
  margin-left: 500px; }

.offset5 {
  margin-left: 420px; }

.offset4 {
  margin-left: 340px; }

.offset3 {
  margin-left: 260px; }

.offset2 {
  margin-left: 180px; }

.offset1 {
  margin-left: 100px; }

/* Responsive Grid Styles */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left; }

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }

  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .small-offset-3 {
    position: relative;
    margin-left: 25%; }

  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .small-offset-6 {
    position: relative;
    margin-left: 50%; }

  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .small-offset-9 {
    position: relative;
    margin-left: 75%; }

  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } }
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  .large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .small-push-1 {
    left: inherit; }

  .small-pull-1 {
    right: inherit; }

  .small-push-2 {
    left: inherit; }

  .small-pull-2 {
    right: inherit; }

  .small-push-3 {
    left: inherit; }

  .small-pull-3 {
    right: inherit; }

  .small-push-4 {
    left: inherit; }

  .small-pull-4 {
    right: inherit; }

  .small-push-5 {
    left: inherit; }

  .small-pull-5 {
    right: inherit; }

  .small-push-6 {
    left: inherit; }

  .small-pull-6 {
    right: inherit; }

  .small-push-7 {
    left: inherit; }

  .small-pull-7 {
    right: inherit; }

  .small-push-8 {
    left: inherit; }

  .small-pull-8 {
    right: inherit; }

  .small-push-9 {
    left: inherit; }

  .small-pull-9 {
    right: inherit; }

  .small-push-10 {
    left: inherit; }

  .small-pull-10 {
    right: inherit; }

  .small-push-11 {
    left: inherit; }

  .small-pull-11 {
    right: inherit; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: none; } }
/* Foundation Block Grids for below small breakpoint */
@media only screen {
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -10px;
    *zoom: 1; }

  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }

  [class*="block-grid-"]:after {
    clear: both; }

  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 10px 10px; }

  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }

  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }

  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }

  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }

  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }

  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }

  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }

  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }

  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }

  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }

  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }

  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }

  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none; }

  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: 48em) {
  /* Remove small grid clearing */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none; }

  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none; }

  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none; }

  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none; }

  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none; }

  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none; }

  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none; }

  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none; }

  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none; }

  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none; }

  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none; }

  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none; }

  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }

  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }

  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }

  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }

  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }

  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }

  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }

  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }

  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }

  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }

  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }

  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }

  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none; }

  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both; } }
/* Styles for various different sized displays */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important; }

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important; }

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important; }

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important; }

/* Specific visilbity for tables */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table; }

thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important; }

tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important; }

tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important; }

td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important; }

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important; }

  .show-for-small {
    display: none !important; }

  .hide-for-small {
    display: inherit !important; }

  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table; }

  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important; }

  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important; }

  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important; }

  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important; } }
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 80em) {
  .show-for-large,
  .show-for-large-up {
    display: inherit !important; }

  .show-for-medium,
  .show-for-medium-down {
    display: none !important; }

  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important; }

  .hide-for-large,
  .hide-for-large-up {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table; }

  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important; }

  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important; }

  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important; }

  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important; } }
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 90em) {
  .show-for-xlarge {
    display: inherit !important; }

  .show-for-large,
  .show-for-large-down {
    display: none !important; }

  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important; }

  .hide-for-xlarge {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table; }

  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important; }

  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important; }

  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important; }

  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important; } }
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important; }

.hide-for-landscape,
.show-for-portrait {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table; }

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important; }

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important; }

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important; }

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important; }

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important; }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table; }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important; }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important; }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important; }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important; } }
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important; }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important; }

  /* Specific visilbity for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table; }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important; }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important; }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important; }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important; } }
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important; }

.hide-for-touch {
  display: inherit !important; }

.touch .show-for-touch {
  display: inherit !important; }

.touch .hide-for-touch {
  display: none !important; }

/* Specific visilbity for tables */
table.hide-for-touch {
  display: table; }

.touch table.show-for-touch {
  display: table; }

thead.hide-for-touch {
  display: table-header-group !important; }

.touch thead.show-for-touch {
  display: table-header-group !important; }

tbody.hide-for-touch {
  display: table-row-group !important; }

.touch tbody.show-for-touch {
  display: table-row-group !important; }

tr.hide-for-touch {
  display: table-row !important; }

.touch tr.show-for-touch {
  display: table-row !important; }

td.hide-for-touch {
  display: table-cell !important; }

.touch td.show-for-touch {
  display: table-cell !important; }

th.hide-for-touch {
  display: table-cell !important; }

.touch th.show-for-touch {
  display: table-cell !important; }

/* Form Styles */
form {
  margin-bottom: 2em; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 2.3125em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none; }

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled] {
  background-color: #dddddd; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em 0; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: solid 1px #dddddd;
  padding: 1.25em;
  margin: 1.125em 0; }

fieldset legend {
  font-weight: bold;
  background: white;
  padding: 0 0.1875em;
  margin: 0;
  margin-left: -0.1875em; }

/* Error Handling */
.error input,
input.error,
.error textarea,
textarea.error {
  border-color: #c60f13;
  background-color: rgba(198, 15, 19, 0.1); }

.error input:focus,
input.error:focus,
.error textarea:focus,
textarea.error:focus {
  background: #fafafa;
  border-color: #999999; }

.error label,
label.error {
  color: #c60f13; }

.error small,
small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: -1.3125em;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #c60f13;
  color: white; }

/* Custom Checkbox and Radio Inputs */
form.custom .hidden-field {
  margin-left: -99999px;
  position: absolute;
  visibility: hidden; }

form.custom .custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  border: solid 1px #cccccc;
  background: white; }

form.custom .custom.checkbox {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: -3px; }

form.custom .custom.radio {
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  padding: 3px; }

form.custom .custom.checkbox:before {
  content: "";
  display: block;
  font-size: 20px;
  color: white; }

form.custom .custom.radio.checked:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  background: #222222;
  position: relative; }

form.custom .custom.checkbox.checked:before {
  content: "\2A2F";
  color: #222222;
  margin-top: -8px;
  margin-left: 2px; }

/* Custom Select Options and Dropdowns */
form.custom {
  /* Custom input, disabled */ }

form.custom .custom.dropdown {
  display: block;
  position: relative;
  top: 0;
  height: 2.3125em;
  margin-bottom: 1.25em;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, white 0%, #f3f3f3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 0.875em;
  vertical-align: top; }

form.custom .custom.dropdown ul {
  overflow-y: auto;
  max-height: 200px; }

form.custom .custom.dropdown .current {
  cursor: default;
  white-space: nowrap;
  line-height: 2.25em;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  overflow: hidden;
  display: block;
  margin-left: 0.5em;
  margin-right: 2.3125em; }

form.custom .custom.dropdown .selector {
  cursor: default;
  position: absolute;
  width: 2.5em;
  height: 2.3125em;
  display: block;
  right: 0;
  top: 0; }

form.custom .custom.dropdown .selector:after {
  content: "";
  display: block;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #aaaaaa transparent transparent transparent;
  border-top-style: solid;
  position: absolute;
  left: 0.9375em;
  top: 50%;
  margin-top: -3px; }

form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #222222 transparent transparent transparent;
  border-top-style: solid; }

form.custom .custom.dropdown .disabled {
  color: #888888; }

form.custom .custom.dropdown .disabled:hover {
  background: transparent;
  color: #888888; }

form.custom .custom.dropdown .disabled:hover:after {
  display: none; }

form.custom .custom.dropdown.open ul {
  display: block;
  z-index: 10;
  min-width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

form.custom .custom.dropdown.small {
  max-width: 134px; }

form.custom .custom.dropdown.medium {
  max-width: 254px; }

form.custom .custom.dropdown.large {
  max-width: 434px; }

form.custom .custom.dropdown.expand {
  width: 100% !important; }

form.custom .custom.dropdown.open.small ul {
  min-width: 134px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form.custom .custom.dropdown.open.medium ul {
  min-width: 254px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form.custom .custom.dropdown.open.large ul {
  min-width: 434px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

form.custom .custom.dropdown ul {
  position: absolute;
  width: auto;
  display: none;
  margin: 0;
  left: -1px;
  top: auto;
  -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  background: white;
  border: solid 1px #cccccc;
  font-size: 16px; }

form.custom .custom.dropdown ul li {
  color: #555555;
  font-size: 0.875em;
  cursor: default;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.375em;
  padding-right: 2.375em;
  min-height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  white-space: nowrap;
  list-style: none; }

form.custom .custom.dropdown ul li.selected {
  background: #eeeeee;
  color: black; }

form.custom .custom.dropdown ul li:hover {
  background-color: #e4e4e4;
  color: black; }

form.custom .custom.dropdown ul li.selected:hover {
  background: #eeeeee;
  cursor: default;
  color: black; }

form.custom .custom.dropdown ul.show {
  display: block; }

form.custom .custom.disabled {
  background: #dddddd; }

/* Button Groups */
.button-group {
  list-style: none;
  margin: 0;
  *zoom: 1; }

.button-group:before, .button-group:after {
  content: " ";
  display: table; }

.button-group:after {
  clear: both; }

.button-group > * {
  margin: 0 0 0 -1px;
  float: left; }

.button-group > *:first-child {
  margin-left: 0; }

.button-group.radius > *:first-child, .button-group.radius > *:first-child > a, .button-group.radius > *:first-child > button, .button-group.radius > *:first-child > .button {
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.button-group.radius > *:last-child, .button-group.radius > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius > *:last-child > .button {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.button-group.round > *:first-child, .button-group.round > *:first-child > a, .button-group.round > *:first-child > button, .button-group.round > *:first-child > .button {
  -moz-border-radius-bottomleft: 1000px;
  -moz-border-radius-topleft: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px; }

.button-group.round > *:last-child, .button-group.round > *:last-child > a, .button-group.round > *:last-child > button, .button-group.round > *:last-child > .button {
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

.button-group.even-2 li {
  width: 50%; }

.button-group.even-2 li button, .button-group.even-2 li .button {
  width: 100%; }

.button-group.even-3 li {
  width: 33.33333%; }

.button-group.even-3 li button, .button-group.even-3 li .button {
  width: 100%; }

.button-group.even-4 li {
  width: 25%; }

.button-group.even-4 li button, .button-group.even-4 li .button {
  width: 100%; }

.button-group.even-5 li {
  width: 20%; }

.button-group.even-5 li button, .button-group.even-5 li .button {
  width: 100%; }

.button-group.even-6 li {
  width: 16.66667%; }

.button-group.even-6 li button, .button-group.even-6 li .button {
  width: 100%; }

.button-group.even-7 li {
  width: 14.28571%; }

.button-group.even-7 li button, .button-group.even-7 li .button {
  width: 100%; }

.button-group.even-8 li {
  width: 12.5%; }

.button-group.even-8 li button, .button-group.even-8 li .button {
  width: 100%; }

.button-bar {
  *zoom: 1; }

.button-bar:before, .button-bar:after {
  content: " ";
  display: table; }

.button-bar:after {
  clear: both; }

.button-bar .button-group {
  float: left;
  margin-right: 0.625em; }

.button-bar .button-group div {
  overflow: hidden; }

/* Dropdown Button */
.dropdown.button {
  position: relative;
  padding-right: 3.1875em; }

.dropdown.button:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-color: white transparent transparent transparent;
  top: 50%; }

.dropdown.button:before {
  border-width: 0.5625em;
  right: 1.5em;
  margin-top: -0.25em; }

.dropdown.button:before {
  border-color: white transparent transparent transparent; }

.dropdown.button.tiny {
  padding-right: 2.1875em; }

.dropdown.button.tiny:before {
  border-width: 0.4375em;
  right: 0.875em;
  margin-top: -0.15625em; }

.dropdown.button.tiny:before {
  border-color: white transparent transparent transparent; }

.dropdown.button.small {
  padding-right: 2.8125em; }

.dropdown.button.small:before {
  border-width: 0.5625em;
  right: 1.125em;
  margin-top: -0.21875em; }

.dropdown.button.small:before {
  border-color: white transparent transparent transparent; }

.dropdown.button.large {
  padding-right: 4em; }

.dropdown.button.large:before {
  border-width: 0.625em;
  right: 1.75em;
  margin-top: -0.3125em; }

.dropdown.button.large:before {
  border-color: white transparent transparent transparent; }

.dropdown.button.secondary:before {
  border-color: #333333 transparent transparent transparent; }

/* Split Buttons */
.split.button {
  position: relative;
  padding-right: 4.8em; }

.split.button span {
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: solid 1px; }

.split.button span:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: inset;
  left: 50%; }

.split.button span:active {
  background-color: rgba(0, 0, 0, 0.1); }

.split.button span {
  border-left-color: #1e728c; }

.split.button span {
  width: 3em; }

.split.button span:before {
  border-top-style: solid;
  border-width: 0.5625em;
  top: 1.125em;
  margin-left: -0.5625em; }

.split.button span:before {
  border-color: white transparent transparent transparent; }

.split.button.secondary span {
  border-left-color: #c3c3c3; }

.split.button.secondary span:before {
  border-color: white transparent transparent transparent; }

.split.button.alert span {
  border-left-color: #7f0a0c; }

.split.button.success span {
  border-left-color: #396516; }

.split.button.tiny {
  padding-right: 3.9375em; }

.split.button.tiny span {
  width: 2.84375em; }

.split.button.tiny span:before {
  border-top-style: solid;
  border-width: 0.4375em;
  top: 0.875em;
  margin-left: -0.3125em; }

.split.button.small {
  padding-right: 3.9375em; }

.split.button.small span {
  width: 2.8125em; }

.split.button.small span:before {
  border-top-style: solid;
  border-width: 0.5625em;
  top: 0.84375em;
  margin-left: -0.5625em; }

.split.button.large {
  padding-right: 6em; }

.split.button.large span {
  width: 3.75em; }

.split.button.large span:before {
  border-top-style: solid;
  border-width: 0.625em;
  top: 1.3125em;
  margin-left: -0.5625em; }

.split.button.expand {
  padding-left: 2em; }

.split.button.secondary span:before {
  border-color: #333333 transparent transparent transparent; }

.split.button.radius span {
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

.split.button.round span {
  -moz-border-radius-topright: 1000px;
  -moz-border-radius-bottomright: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-screen, .icon-file, .icon-user, .icon-list, .icon-pencil {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-screen:before {
  content: "\e000"; }

.icon-file:before {
  content: "\e001"; }

.icon-user:before {
  content: "\e002"; }

.icon-list:before {
  content: "\e003"; }

.icon-pencil:before {
  content: "\e004"; }

/* Print Styles */
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* End Print */
/* User-defined custom styles */
h1 {
  font-family: "VictoryNeue-Oblique", "Helvetica Neue Bd", "Helvetica Bold", "Arial Black", sans-serif;
  color: #a58c5f;
  text-shadow: 4px 4px 4px #333333; }

h2 {
  font-family: "AbrazoScriptSSiNormal";
  color: white;
  font-weight: 500;
  font-style: italic; }

h3 {
  font-family: "Trebuchet MS", "Helvetica Neue", Verdana, Tahoma, Helvetica, Arial, sans-serif;
  color: #40627c;
  text-transform: uppercase;
  letter-spacing: 1px; }

h4 {
  font-family: "VictoryNeueLight", "Helvetica Neue Lt", "Helvetica Light", sans-serif;
  color: #4d4d4d;
  border-bottom: 1px dotted #999999;
  margin: 40px 0 20px; }

p {
  font-size: small; }

ul {
  list-style-type: disc;
  margin-bottom: 2em; }

li {
  font-size: small;
  line-height: 1.25;
  margin-bottom: 0.5em; }

.row1 {
  height: 20px;
  background-color: #eeeeee;
  border-bottom: 1px solid #a68d60;
  position: relative; }

.row2 {
  height: 150px;
  background-color: #40627c;
  position: relative; }
  .row2 h1, .row2 h2 {
    margin-left: 230px; }

.row3 {
  height: 26px;
  background-color: #d0a825;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  position: relative; }

.row4 {
  height: 50px;
  background-color: #a68d60;
  position: relative; }

.row5 {
  height: 15px;
  background-color: #26393d;
  border-bottom: 1px solid white;
  border-top: 1px solid white; }

.tree {
  margin: -22px 0 0 -25px;
  position: absolute;
  z-index: 10; }

.date {
  height: 100%;
  text-align: right;
  font-family: "VictoryNeueLight", "Helvetica Neue Lt", "Helvetica Light", sans-serif;
  font-size: 0.75em;
  font-style: italic;
  color: #999999;
  padding-top: 4px; }

.social-icons-container {
  width: 112px;
  height: 112px;
  position: relative;
  top: 20px; }
  .social-icons-container ul {
    list-style: none; }

.nav-main {
  height: 26px; }
  .nav-main ul {
    height: 26px;
    margin-left: 225px; }
    .nav-main ul li {
      display: inline-block;
      height: 26px;
      float: left;
      font-family: "Helvetica Neue Lt", "Helvetica Light", Helvetica, Arial, sans-serif;
      font-size: 0.85em;
      line-height: 0em;
      margin: 0 35px 0 0;
      padding: 15px 0 0; }
      .nav-main ul li a:link, .nav-main ul li a:visited {
        color: white; }
      .nav-main ul li a:hover, .nav-main ul li a:focus {
        color: #005580;
        text-decoration: underline; }

.nav-icon {
  float: right;
  margin-top: -9px;
  padding-left: 0.35em;
  font-size: 1em; }

.sub-nav {
  height: 50px; }
  .sub-nav ul {
    height: 50px;
    float: left;
    margin-left: 225px; }
    .sub-nav ul li {
      display: inline-block;
      float: left;
      font-family: "Helvetica Neue Lt", "Helvetica Light", Helvetica, Arial, sans-serif;
      font-size: 0.85em;
      color: #26393d;
      margin: 5px 14px 0 0;
      padding: 0; }
      .sub-nav ul li a:link, .sub-nav ul li a:visited {
        color: #26393d; }
      .sub-nav ul li a:hover, .sub-nav ul li a:focus {
        color: #20627c;
        text-decoration: underline; }
      .sub-nav ul li a.sub-nav-active {
        color: #20627c;
        text-transform: uppercase;
        letter-spacing: 1px; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

.main {
  background-color: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  position: relative; }

.portfolio-item {
  display: none;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 1px solid #cccccc;
  margin: 2.5%;
  padding: 2.5%; }

.photo-right {
  float: right;
  margin: 0 0 10px 10px;
  border: 2px solid #999999; }

.footer-main {
  background-color: white;
  font-family: "VictoryNeueLight", "Helvetica Neue Lt", "Helvetica Light", sans-serif;
  font-size: 0.75em;
  color: #999999;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.5em 0; }

.form-btn {
  background-color: #999999;
  border-radius: 3px; }

.form-btn:hover {
  background-color: gray; }

/* iPhone 4 Portrait */
@media all and (max-width: 960px) and (min-width: 640px) {
  body {
    background: red; }

  .tree {
    display: none; }

  .row2 h1, .row2 h2 {
    margin: 0;
    padding: 0; } }
