/* Defaults */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, .google-maps img {
  max-width: none;
}

textarea {
  height: auto;
  min-height: 150px;
  resize: vertical; }

select {
  width: 100%; }


/* Blockquotes */
blockquote {
  color: $blockquote;
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: $smallest solid #dddddd;
  p {
    line-height: 1.6;
    color: #6f6f6f;
  }
  cite {
    display: block;
    font-size: 0.8125em;
    color: $grey;
  }
  cite:before {
    content: "\2014 \0020";
  }
  cite a, blockquote cite a:visited {
    color: $grey;
  }
}