/* Declarations for Light, Medium, and Bold variants of the Helvetica Neue font */
@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeueLTStd-Md.otf');
}

@font-face {
    font-family: "Helvetica Neue Lt";
    src: url('../fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
    font-family: "Helvetica Neue Bd";
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: "VictoryNeue-Oblique";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/VictoryNeue-Oblique?#iefix") format("embedded-opentype"),
    url("../fonts/VictoryNeue-Oblique.woff") format("woff"),
    url("../fonts/VictoryNeue-Oblique.ttf") format("truetype"),
    url("../fonts/VictoryNeue-Oblique.svg#VictoryNeue-Oblique") format("svg");
}

@font-face {
  font-family: "VictoryNeueLight";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/VictoryNeueLight?#iefix") format("embedded-opentype"),
    url("../fonts/VictoryNeueLight.woff") format("woff"),
    url("../fonts/VictoryNeueLight.ttf") format("truetype"),
    url("../fonts/VictoryNeueLight.svg#VictoryNeueLight") format("svg");
}

@font-face {
  font-family: "AbrazoScriptSSiNormal";
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/AbrazoScriptSSiNormal?#iefix") format("embedded-opentype"),
    url("../fonts/AbrazoScriptSSiNormal.woff") format("woff"),
    url("../fonts/AbrazoScriptSSiNormal.ttf") format("truetype"),
    url("../fonts/AbrazoScriptSSiNormal.svg#AbrazoScriptSSiNormal") format("svg");
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}