/* Text Styles */
em,
i {
  font-family: $font-lt;
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-family: $font-bd;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: $code-color; }

abbr,
acronym {
  @include uppercase;
  font-size: 90%;
  color: $dark-text;
  border-bottom: $smallest dotted $lt-grey;
  cursor: help; }

abbr {
  text-transform: none; }

.font-bold {
  font-family: $font-bd;
  font-weight: normal; }

.font-light {
  font-family: $font-lt;
  font-weight: normal; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

a {
  color: $link;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-hover;
  text-decoration: underline;
}

.muted {
  color: $muted;
}

a.muted:hover,
a.muted:focus {
  color: $muted-hover;
}

.text-warning {
  color: $warning;
}

a.text-warning:hover,
a.text-warning:focus {
  color: $warning-hover;
}

.text-error {
  color: $error;
}

a.text-error:hover,
a.text-error:focus {
  color: $error-hover;
}

.text-info {
  color: $info;
}

a.text-info:hover,
a.text-info:focus {
  color: $info-hover;
}

.text-success {
  color: $success;
}

a.text-success:hover,
a.text-success:focus {
  color: $success-hover;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: $font-bd;
  font-weight: normal;
  font-style: normal;
  color: $dark-text;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.25em;
  line-height: 1.2125em; }

h1 {
  font-size: 3.25em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.65em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-family: $font-bd;
  font-weight: normal;
  line-height: 1;
  color: $muted;
}

h1 small {
  font-size: 24px; }

h2 small {
  font-size: 18px; }

h3 small {
  font-size: 16px; }

h4 small {
  font-size: 14px; }

h5 small {
  font-size: 12px; }

h6 small {
  font-size: 10px; }

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
  aside {
    font-family: $font-lt;
    font-size: 0.875em;
    line-height: 1.35;
    font-style: italic; }
}

hr {
  border: solid #dddddd;
  border-width: $smallest 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0; }

/* Lists */
ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit; }
ul.square {
  list-style-type: square; }
ul.circle {
  list-style-type: circle; }
ul.disc {
  list-style-type: disc; }
ul.no-bullet {
  list-style: none; }

  /* Label Styles */
label {
  font-family: $font-bd;
  font-size: 0.875em;
  color: $label;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 0.1875em;
  .right {
    float: none;
    text-align: right; }
  .inline {
    margin: 0 0 1em 0;
    padding: 0.625em 0; }
}

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: $smallest;
  overflow: hidden;
  font-size: 0.875em;
  height: 2.3125em;
  line-height: 2.3125em; }