body {
	background-color: #F0F0F0;
	font-size: small;
	font-family: arial;
	color: #222;
	margin: 0;
	padding: 20px;
}

#clock {                        
	font-family: DIGITALDREAMFAT, Tahoma, Arial;
	font-size: 24px;
	background: #111;
	color: #1ed216;
	padding: 15px;          
	border-radius: 10px;
}

@font-face {
    font-family: 'DIGITALDREAMFAT';
    src: url('DIGITALDREAMFAT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#setAlarmBtn { 
	margin: 30px 0 0 0;
	display: block;
}

#timeSelection { margin: 30px 0 0 0; }

#minute { margin-left: 21px; }

#submit { margin-top: 10px; }